.register-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    background-color: #f4f4f4;
    .register-form{
      max-width: 600px;
      width: 25%;
      padding: 20px;
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
      background: #fff;
      border-radius: 4px;
      text-align: center;

      h2 {
        color: #333;
        margin-bottom: 20px;
      }
      p {
        color: #666;
        font-size: 14px;
        line-height: 1.5;
        margin-bottom: 20px;
      }
      .google-button, .facebook-button {
        margin: 5px;
      }

      .MuiTextField-root {
        margin-bottom: 20px;
      }

      .register-grid{
        margin-top: 10px;
      }

      .register-button {
        background-color: #a36e29;
        padding: 10px;
        margin-bottom: 20px;
      }

      

    }
}