.product-detail {
    font-family: "Work Sans", sans-serif;

    .breadcrumbs-container {
        padding: 20px;
        background-color: #fffbc8;
        margin-bottom: 30px;
      }
    .container{
      width: 90vw;
      margin: 0 auto;


    
    .product-content {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      margin: 20px;
    }
    
    .product-image-section {
      //background-color: aquamarine;
      flex: 1;
      max-width: 40%;
      .product-image {
        width: 100%;
        height: auto;
      }
    }
    
    .product-detail-section {
      flex: 1;
      max-width: 50%;
      .title{
        margin: 20px 0px;
        display: flex;
        align-items: start;
      }
      .rating-reviews {
        font-size: 1.2rem;
        margin-bottom: 20px;
        display: inline-flex;
        
        align-items: center;
        justify-content: flex-start;
        padding: 4px 12px; 
        border: 1px solid #d0d0d0;
        background-color: #f8f8f8;
        border-radius: 10px; 
        cursor: pointer;
        transition: background-color 0.3s, transform 0.3s;
        box-sizing: border-box; 
        text-align: left;
        &:hover {
          background-color: #ececec;
          transform: scale(1.02);
        }
      }

      .customization-grid{
        padding-right: 30px;
  
      }

      .location-grid{
        display: flex;
        flex-direction: column;
        align-items: start;
        padding-left: 30px;
        .label {
            font-weight: 400;
            margin-bottom: 10px;
            color:#666
        }
    
        .field {
            width: 100%;
            margin-bottom: 20px;
        }
        .pincode{
            margin-bottom: 40px;
        }

        .delivery-info{
            display: flex;
            flex-direction: row;
            align-items: center;
            .delivery-icon{
                margin-right: 20px;
            }
        }
      }

      .detail-grid{
        margin-top: 20px;
        .card {
            background-color: #fffbc8;
            display: flex;
            flex-direction: column;
            align-items: start;
            box-shadow: 0 2px 5px rgba(0,0,0,0.1);
            border-radius: 16px;
            padding: 20px;
            margin: 5px;
          
          .sku{
            color: #666;
            //margin-bottom: 5px;
          }
          .title{
            font-weight: bold;
            color: #a36e29;
            margin-bottom: 10px;
          }
          .desc{
            color: #666;
            margin-bottom: 20px;
          }

          .icon {
            margin-right: 5px;
          }
          
          .detail {
            background-color: #fff;
            display: flex;
            align-items: start;
            justify-content: center;
            margin: 10px;
            padding: 20px;
            border: 1px solid rgba(0,0,0,0.1);
            border-radius: 16px;
          }
        }
      }

      .price-section {
        display: flex;
        flex-direction: row;
        align-items: center;
        .price {
          font-weight: bold;
          color: #a36e29;
          margin-right: 10px;
          margin-top: 10px;
        }
        .original-price {
            margin-top: 10px;
          text-decoration: line-through;
          color: #666;
        }
        
      }
      .discount {
        display: flex;
        margin-top: 10px;
        color: #E53935;
      }
      .actions {
        margin-top: 20px;
        
            .button {
                margin-right: 2vw;
                height: 50px;
                background-color: #a36e29;
                color: white;
                text-transform: none;
                font-family: "Work Sans", sans-serif;
                font-size: 1rem;
                
                .button-icon{
                    margin-left: 10px;
                }

                &:hover {
                  background-color: white;
                  color: #a36e29;
                  border: 1px solid #a36e29;
                }
              }
        
      }
    }
    
    @media (max-width: 768px) {
      .product-content {
        flex-direction: column;
        align-items: center;
      }
      .product-image-section, .product-detail-section {
        max-width: 100%;
      }
    }
  }
}
  