.product-detail {
  font-family: "Work Sans", sans-serif;

  .web {
    background-color: #f5f5f5;

    .container {
      width: 90vw;
      margin: 0 auto;

      .product-content {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 0px auto;
      }

      .product-image-section {
        background-color: #fff;
        flex: 1;
        max-width: 40%;
        height: inherit;
        padding-top: 1%;
        padding-bottom: 1%;
        .product-image {
          width: 100%;
          height: auto;
        }
      }

      .product-detail-section {
        flex: 1;
        max-width: 50%;
        margin-bottom: 20px;

        .title {
          margin: 20px 0px;
          display: flex;
          align-items: start;
        }

        .customization-grid {
          padding-right: 30px;
        }

        .location-grid {
          .label {
            font-weight: 400;
            margin-bottom: 10px;
            color: #666;
          }

          .field {
            width: 100%;
            margin-bottom: 20px;
          }
          .pincode {
            margin-bottom: 40px;
          }

          .delivery-info {
            display: flex;
            flex-direction: row;
            align-items: center;

            .delivery-icon {
              margin-right: 10px;
              color: grey;
            }
          }
        }

        .detail-grid {
          .card {
            background-color: #e8e8e8;
            display: flex;
            flex-direction: column;
            align-items: start;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
            border-radius: 16px;
            padding: 20px;

            .sku {
              color: #666;
              font-family: "Open Sans", sans-serif;
              font-size: 0.8rem;
            }

            .title {
              font-weight: bold;
              font-family: "Open Sans", sans-serif;
              font-size: 1.2rem;
              margin: 0;
            }

            .desc {
              color: #666;
              font-family: "Open Sans", sans-serif;
              font-size: 0.8rem;
            }

            .icon {
              margin-right: 5px;
            }

            .detail {
              background-color: #fff;
              display: flex;
              align-items: start;
              justify-content: center;
              margin: 10px;
              padding: 20px;
              border: 1px solid rgba(0, 0, 0, 0.1);
              border-radius: 16px;
            }
          }
        }

        .price-section {
          display: flex;
          flex-direction: row;
          align-items: center;

          .price {
            font-family: "Open Sans", sans-serif;
            font-size: 1.8rem;
            font-weight: bold;
            color: #a36e29;
            margin-right: 10px;
            margin-top: 10px;
          }

          .original-price {
            font-family: "Open Sans", sans-serif;
            font-size: 1rem;
            margin-top: 10px;
            text-decoration: line-through;
            color: #666;
          }
        }

        .discount {
          display: flex;
          color: #e53935;
          font-family: "Open Sans", sans-serif;
          font-size: 0.95rem;
          font-weight: 600;
          margin-bottom: 20px;
        }
      }

      @media (max-width: 768px) {
        .product-content {
          flex-direction: column;
          align-items: center;
        }
        .product-image-section,
        .product-detail-section {
          max-width: 100%;
        }
      }
    }
    .container-similar {
      background-color: #fff;
      width: 90vw;
      margin: 0 auto;

      .similar-product-section {
        max-width: 80vw;
        margin: 0 auto;
        width: 90%;
        overflow: hidden;
        .title {
          padding-top: 20px;
          font-size: larger;
          margin: 20px;
          display: flex;
          align-items: start;
        }

        .products-scroll-container {
          display: flex;
          overflow-x: auto;
          padding: 16px 0;
          &::-webkit-scrollbar {
            display: none;
          }
          -ms-overflow-style: none;
          scrollbar-width: none;
        }
      }
    }
  }

  .mobile {
    display: none;
  }

  @media (max-width: 900px) {
    .web {
      display: none;
    }

    .mobile {
      display: block;

      .container {
        width: 100%;

        .product-content {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-around;
        }

        .product-image-section {
          flex: 1;
          max-width: 100%;
          padding-top: 8vh;
          background-color: white;
          padding-bottom: 20px;

          .product-image {
            width: 100%;
            height: auto;
          }
        }

        .product-detail-section {
          flex: 1;
          max-width: 100%;
          margin: 20px;

          .rating-reviews {
            font-family: "Open Sans", sans-serif;
            font-size: 0.8rem;
            display: inline-flex;

            align-items: center;
            justify-content: flex-start;
            padding: 4px 12px;
            border: 1px solid #d0d0d0;
            background-color: #f8f8f8;
            border-radius: 10px;
            cursor: pointer;
            transition: background-color 0.3s, transform 0.3s;
            box-sizing: border-box;
            text-align: left;

            &:hover {
              background-color: #ececec;
              transform: scale(1.02);
            }
          }
        }

        .price-section {
          display: flex;
          flex-direction: row;
          align-items: center;

          .price {
            font-weight: bold;
            color: #a36e29;
            margin-right: 10px;
            margin-top: 10px;
            font-family: "Open Sans", sans-serif;
            font-size: 1.2rem;
          }

          .original-price {
            margin-top: 10px;
            text-decoration: line-through;
            color: #666;
            font-family: "Open Sans", sans-serif;
            font-size: 1rem;
          }
        }

        .discount {
          margin-left: 20px;
          display: flex;
          margin-top: 10px;
          color: #e53935;
        }

        .label {
          display: flex;
          align-items: start;
          font-weight: 400;
          margin-bottom: 10px;
          color: #666;
        }

        .field {
          width: 100%;
          margin-bottom: 20px;
        }
        .pincode {
          margin-bottom: 20px;
        }

        .delivery-info {
          display: flex;
          color: #a36e29;
          flex-direction: row;
          align-items: center;
          .delivery-icon {
            margin-right: 20px;
            color: #a36e29;
          }
        }
        .product-detail-grid {
          margin-top: 20px;
          .card {
            background-color: #fffbc8;
            display: flex;
            flex-direction: column;
            align-items: start;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
            border-radius: 16px;
            padding: 20px;
            margin: 5px;

            .sku {
              color: #666;
              //margin-bottom: 5px;
            }
            .title {
              font-weight: bold;
              color: #a36e29;
              margin-bottom: 10px;
            }
            .desc {
              color: #666;
              margin-bottom: 10px;
            }

            .icon {
              margin-right: 5px;
            }

            .detail {
              background-color: #fff;
              display: flex;
              align-items: start;
              justify-content: center;
              margin: 5px;
              padding: 20px;
              border: 1px solid rgba(0, 0, 0, 0.1);
              border-radius: 16px;

              .text {
                text-align: start;
                font-size: medium;
              }
            }
          }
        }
      }
      .container-similar {
        background-color: #f5f5f5;
        .similar-product-section {
          max-width: 90vw;
          margin: 0 auto;
          margin-top: 20px;

          width: 100%;
          overflow: hidden;
          .title {
            font-size: larger;
            margin: 20px;
            display: flex;
            align-items: start;
          }

          .products-scroll-container {
            display: flex;
            overflow-x: auto;
            padding: 16px 0; // Adjust padding as needed

            // Hide scrollbar for different browsers
            &::-webkit-scrollbar {
              display: none;
            }
            -ms-overflow-style: none; // IE and Edge
            scrollbar-width: none; // Firefox
          }
          .jwellery-card {
            flex: 0 0 auto;
            margin-right: 24px;
            background: #fff;
            border-radius: 4px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            width: 200px; // Fixed width for all cards
            height: 300px; // Fixed height for all cards
            display: flex;
            flex-direction: column;

            .card-image-container img {
              width: 100%;
              height: auto;
              object-fit: cover; // This will ensure the image covers the area without distorting the aspect ratio
              max-height: 160px; // Set a max-height for the images
            }

            .card-content {
              padding: 8px;
              display: flex;
              flex-direction: column;
              justify-content: space-between;
              flex-grow: 1; // This will make the content take up the rest of the space

              .card-title,
              .card-price,
              .add-to-cart-button,
              .check-delivery {
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
              }
            }
          }
        }
      }
    }
  }
}
